<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Workout</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
    <header class="py-6 sm:py-8 flex">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-left mx-6 w-2/6">My Workout</h1>
        <nav class="w-4/6">
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-32 article-text" type="button" id="USER-btn">User Page</button>
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-8 article-text" type="button" id="Login">Logout</button>
            
        </nav>
    </header>

    <section>
      <div id="recommendations" class="col w5/6 m-10">
        <!-- {{#each recommendations as |recommendation|}} -->
        <div class="">
            <h3 class="rectitle">Title<!--{{recommendation.title}}--></h3>
            <div class="row p-5 flex">
              <p class="p-5 w-5/6 text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<!--{{recommendation.type}}--></p>
              <img class="recimg w-1/6 h-32 row m-0"><!--{{recommendation.image}}--></img>
            </div>
        </div>
        <!-- {{/each}} -->
    </div>
    </section>
</body>

</html>