<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Workout</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
    <header class="py-6 sm:py-8 flex">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-left mx-6 w-2/6">My Workout</h1>
        <nav class="w-4/6">
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-32 article-text" type="button" id="USER-btn">User Page</button>
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-8 article-text" type="button" id="Login">Logout</button>
            
        </nav>
    </header>

    <section>
      <div class="row w-full pl-6">
        <div id="recommendations" class="col w-1/6 ml-1 mt-8">
            <!-- {{#each recommendations as |recommendation|}} -->
                <div class="reccard">
                    <h3 class="rectitle"><!--{{recommendation.title}} -->title1</h3>
                    <img class="recimg w-40 h-28"><!--{{recommendation.image}} --></img>
                    <p><!--{{recommendation.type}} -->cardio</p>
                </div>
                <div class="reccard">
                  <h3 class="rectitle"><!--{{recommendation.title}} -->title2</h3>
                  <img class="recimg w-40 h-28"><!--{{recommendation.image}} --></img>
                  <p><!--{{recommendation.type}} -->mucsle growth</p>
                </div>
                <div class="reccard">
                  <h3 class="rectitle"><!--{{recommendation.title}} -->title3</h3>
                  <img class="recimg w-40 h-28"><!--{{recommendation.image}} --></img>
                  <p><!--{{recommendation.type}} -->cardio</p>
                </div>
            <!--{{/each}} -->
        </div>
        <div id="postsec" class="row w-5/6 mt-8 pl-20 h-10">
            <div id="addbtn" class="row w-full h-20">
                <h2 id="username" class="w-1/2"><!--{{name}} -->Lindsey's posts:</h2>
                <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-16 article-text" type="button" id="Login">CREATE POST</button>
            </div>
            <div class="w-full row">
                <div id="posts" class="col w-4/6">
                    <!--{{#each posts as |post|}} -->
                      <div class="postcard w-full flex flex-col">
                        <h4 class="ptitle text-center leading-normal"><!--{{post.name}} -->example1</h4>
                        <p class="leading-normal"><!--{{post.info}} -->info1</p>
                        <p class="leading-loose"><!--{{post.type}} -->cardio</p>
                        <div class="flex justify-end">
                          <button class="bg-green-700 rounded-full text-red-100 w-1/6">DELETE</button>
                        </div>
                      </div>
                      <div class="postcard w-full flex flex-col">
                        <h4 class="ptitle text-center leading-normal"><!--{{post.name}} -->example2</h4>
                        <p class="leading-normal"><!--{{post.info}} -->info2</p>
                        <p class="leading-loose"><!--{{post.type}} -->muscle growth</p>
                        <div class="flex justify-end">
                          <button class="bg-green-700 rounded-full text-red-100 w-1/6">DELETE</button>
                        </div>
                      </div>
                      <div class="postcard w-full flex flex-col">
                        <h4 class="ptitle text-center leading-normal"><!--{{post.name}} -->example3</h4>
                        <p class="leading-normal"><!--{{post.info}} -->info3</p>
                        <p class="leading-loose"><!--{{post.type}} -->cardio</p>
                        <div class="flex justify-end">
                          <button class="bg-green-700 rounded-full text-red-100 w-1/6">DELETE</button>
                        </div>
                      </div>
                    <!--{{/each}} -->
                </div>
                <div id="chart" class="w-2/6">
                  <p class="postcard">placeholder</p>
                </div>
            </div>
        </div>
    </div>
              
    <script src=""></script>
    </section>
</body>

</html>