<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Workout</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
    <header class="py-6 sm:py-8 flex">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-left mx-6 w-2/6">My Workout</h1>
        <nav class="w-4/6">
            {{#if logged_in}}
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-32 article-text" type="button" id="USER-btn">User Page</button>
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-8 article-text" type="button" id="Login">Logout</button>
            {{else}}
            <button ata-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 absolute right-8 article-text" type="button" id="Login">Login</button>
            {{/if}}
        </nav>
    </header>

    <section>
        {{{body}}}
    </section>
</body>

</html>