<div id="recommendations" class="col w5/6 m-10">
    <div>
       <p>Log your workouts and gauge your progress</p>
       <img src="./images/workout.jpg" class="recimg w-5/6 h-124 row ml-auto mr-auto mt-10 mb-10"></img>
    </div>
</div>
<script src="./js/homepage.js"></script>